<div id="container" ng-controller="ItemCtrl" class="container">
	<ol class="breadcrumb">
	  		<li ng-repeat="breadcrumb in breadcrumbs.get() track by breadcrumb.path" ng-class="{ active: $last }">
	  		<a ng-if="!$last" ng-href="#{{ breadcrumb.path }}" ng-bind="breadcrumb.label" class="margin-right-xs"></a>
	  		<span ng-if="$last" ng-bind="breadcrumb.label"></span>
		</li>
	</ol>

	<div class="container_item">

		<div class="row">
			<div class="col-md-4">
				<img ng-if="item[0] != ''" ng-src="images/backgrounds/thumbnail_not_found.png" alt="..." width="250">
			    <img ng-if="item[0] == ''" ng-src="{{item[0].technical[0].thumbails}}" alt="..." width="150">

				<h3>Objetivo educativo</h3>
				

				<button type="button" class="btn btn-primary" ng-click="open()">Ver detalle</button>
				<button type="button" class="btn btn-success" ng-click="downloadBit()">Descargar</button>

			</div>
			<div class="col-md-6">
				<h3>Título</h3>
				<p>{{item.meta['dc.title']}}</p>

				<h3>Descripción</h3>
				<p>{{item.meta['dc.description']}}</p>

				<h3>Autor(es)</h3>
				<p>{{item.meta['dc.contributor.author']}}</p>

				<h3>Palabras clave</h3>
				<p>{{item.meta['dc.subject']}}</p>

				<h3>Fecha</h3>
				<p>{{item.meta['dc.date.issued']}}</p>

				<button type="button" class="btn btn-primary" ng-click="open()">Requerimientos técnicos</button>
			</div>
		</div>
	</div>
</div>

<script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">Requerimientos técnicos</h3>
        </div>
        <div class="modal-body">
        <table class="table table-striped table-condensed">
        	<tr>
            	<td><strong>Formato:</strong></td><td> {{item[0].technical[0].format}}</td>
            </tr>
            <tr>
            	<td><strong>Tamaño:</strong></td><td> {{item[0].technical[0].size}}</td>
            </tr>
            <tr>
            	<td><strong>Ubicación:</strong></td><td> {{item[0].technical[0].location}}</p></td>
            </tr>
            <tr>
            	<td><strong>Tipo:</strong></td><td> {{item[0].technical[0].requirements_orcomposite_type}}</td>
            </tr>
            <tr>
            	<td><strong>Nombre:</strong></td><td> {{item[0].technical[0].requirements_orcomposite_name}}</td>
            </tr>
            <tr>
            	<td><strong>Versión mínima:</strong></td><td> {{item[0].technical[0].requirements_orcomposite_minimunversion}}</td>
            </tr>
            <tr>
            	<td><strong>Versión máxima:</strong></td><td> {{item[0].technical[0].requirements_orcomposite_maximunversion}}</td>
            </tr>
            <tr>
            	<td><strong>Instrucciones de instalación</strong></td><td> {{item[0].technical[0].installationinstructions}}</td>
            </tr>
            <tr>
            	<td><strong>Otros requerimientos</strong></td><td> {{item[0].technical[0].installationinstructions_otherrequirements}}</td>
            </tr>
            <tr>
            	<td><strong>Vida</strong></td><td> {{item[0].technical[0].life}}</td>
            </tr>
            <tr>
            	<td><strong>Thumbnails</strong></td><td> {{item[0].technical[0].thumbails}}</td>
            </tr>
            <tr>
            	<td><strong>Previews</strong></td><td> {{item[0].technical[0].previews}}</td>
            </tr>
            <tr>
            	<td><strong>Promo imagen</strong></td><td> {{item[0].technical[0].promoimages}}</td>
            </tr>
        </table>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
</script>