body {
	background: url(../img/backgrounds/sports_img.png) 50% 0 no-repeat fixed
}

header{
	width: 100%
}
header.conecta {
	height: 100px;
}
.page-header{
	border-bottom: 0px
}
.logoU img{
	margin: 0 0 0 150px;
}

.logoApp img{
	margin: 0 0 0 20%;
}

.navbar-default{
	margin-top: 30px
}
.navbar-header{
	margin-left: 150px !important;
	min-width: 920px;
}

#container{
	margin: 0 auto;
	min-width: 500px;
	max-width: 1200px;
}

.fRight{
	float: right;
	margin-right: 10%
}

#content{
	padding: 30px
}
.panelHome{
	width: 600px;
	min-width: 700px;
	padding: 30px;
	margin-left: 100px;
	float: left;
}

.input-group{
	max-width: 800px;
	margin: 0 auto;
}

.rightPanel{
	width: 300px;
	float: right;
}

.pagination{
	margin-left: 250px;
}